<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.postsharp.org/1.0/configuration"
         xmlns:telem="clr-namespace:BSTGlobal.Common.Diagnostics.Telemetry.Aspects;assembly:BSTGlobal.Common"
         xmlns:context="clr-namespace:BSTGlobal.Common.Diagnostics.Context;assembly:BSTGlobal.Common">
  <Property Name="SolutionWideProcessingEnabled" Value="true" />
  <Property Name="DebuggerExtensionsDisabled" Value="false" />
  <Property Name="PostSharpPackageManager" Value="Folder" />
  <Property Name="PostSharpRootPath" Value="..\..\references\PostSharp" />
  <Multicast>
    <telem:DbCommandTelemetryAspectProvider AttributeTargetAssemblies="System.Data" AttributeTargetTypes="System.Data.Common.DbCommand" AttributeTargetMembers="Execute*" />
    <telem:DbCommandTelemetryAspectProvider AttributeTargetAssemblies="System.Data" AttributeTargetTypes="System.Data.SqlClient.SqlCommand" AttributeTargetMembers="Execute*" />
    <context:DiagnosticPropertyAspectProvider />
  </Multicast>
</Project>
